body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
  width: 100vw;
}
#coords {
  position: absolute;
  top:20px;
  left: 15px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 4px;
  z-index: 1;
}
